# Bai tap buoi 2 - Pandas
## Tran Nguyen Vu - 21088201 - STT: 60

## Pandas data series - Ex 26 to 31

In [3]:
# Import pandas
import pandas as pd

In [4]:
# 26. Write a Pandas program to compute difference of differences between consecutive numbers of a given series.
input_series = pd.Series([1.0, 3.0, 5.0, 8.0, 10.0, 11.0, 15.0])

print(input_series.diff().tolist())

[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]

In [5]:
# 27. Write a Pandas program to convert a series of date strings to a timeseries.
import datetime as dt

input_series = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

print(pd.to_datetime(input_series))

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [6]:
# 28. Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings.
input_series = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
print("Day of month: \n", pd.to_datetime(input_series).dt.day.tolist())
print("Day of year: \n", pd.to_datetime(input_series).dt.dayofyear.tolist())
print("Week number: \n", pd.to_datetime(input_series).dt.weekofyear.tolist())
print("Day of week: \n", pd.to_datetime(input_series).dt.dayofweek.tolist())

Day of month:
 [1, 2, 3, 4, 5, 6]
Day of year:
 [1, 33, 63, 94, 125, 157]
Week number:
 [53, 5, 9, 14, 19, 23]
Day of week:
 [4, 2, 5, 3, 0, 5]

/tmp/ipykernel_8410/4088457313.py:5: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  print("Week number: \n", pd.to_datetime(input_series).dt.weekofyear.tolist())

In [7]:
# 29. Write a Pandas program to convert year-month string to dates adding a specified day of the month.
input_series = pd.Series(['Jan 2015', 'Feb 2016', 'Mar 2017', 'Apr 2018', 'May 2019', 'Jun 2020'])

print(pd.to_datetime(input_series.map(lambda x: '11 ' + x)))

0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
5   2020-06-11
dtype: datetime64[ns]

In [22]:
# 30. Write a Pandas program to filter words from a given series that contain atleast two vowels.
input_series = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow','White'])

def hasAtLeastTwoVowels(word):
    vowels = ['a', 'e', 'i', 'o', 'u']
    count = 0
    for letter in word:
        if letter in vowels:
            count += 1
    return count >= 2

filtered_series = input_series[input_series.apply(hasAtLeastTwoVowels)]

print(filtered_series)

1     Green
2    Orange
4    Yellow
5     White
dtype: object

In [23]:
# 31. Write a Pandas program to compute the Euclidean distance between two given series.
# Euclidean distance
# From Wikipedia,
# In mathematics, the Euclidean distance or Euclidean metric is the "ordinary" straight-line distance between two points in Euclidean space. With this distance, Euclidean space becomes a metric space. The associated norm is called the Euclidean norm.
import math as m
series_one = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
series_two = pd.Series([11, 8, 7, 5, 6, 5, 3, 4, 7, 1])

euclidean_distance = m.sqrt(sum((series_one - series_two)**2))

print("Euclidean distance: ", euclidean_distance)

Euclidean distance:  16.492422502470642

## Panda dataframe - Ex 61 to 66

In [30]:
# 61. Write a Pandas program to get topmost
# n records within each group of a DataFrame.

original_df = pd.DataFrame({
    'col1': [1, 2, 3, 4, 7, 11],
    'col2': [4, 5, 6, 9, 5, 0],
    'col3': [7, 5, 8, 12, 1, 11]
})

n = 3

for i in range(n):
    print(original_df.nlargest(n, f'col{i+1}', keep='all'))

   col1  col2  col3
5    11     0    11
4     7     5     1
3     4     9    12
   col1  col2  col3
3     4     9    12
2     3     6     8
1     2     5     5
4     7     5     1
   col1  col2  col3
3     4     9    12
5    11     0    11
2     3     6     8

In [31]:
# 62. Write a Pandas program to remove first n rows of a given DataFrame.
original_df = pd.DataFrame({
    'col1': [1, 2, 3, 4, 7, 11],
    'col2': [4, 5, 6, 9, 5, 0],
    'col3': [7, 5, 8, 12, 1, 11]
})

n = 3

print(original_df.iloc[n:])

   col1  col2  col3
3     4     9    12
4     7     5     1
5    11     0    11

In [32]:
# 63. Write a Pandas program to remove last n rows of a given DataFrame.

original_df = pd.DataFrame({
    'col1': [1, 2, 3, 4, 7, 11],
    'col2': [4, 5, 6, 9, 5, 0],
    'col3': [7, 5, 8, 12, 1, 11]
})

n = 3

print(original_df.iloc[:-n])

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8

In [35]:
# 64. Write a Pandas program to add a prefix or suffix to all columns of a given DataFrame.

original_df = pd.DataFrame({
    'W': [68, 75, 86, 80, 66],
    'X': [78, 85, 96, 80, 86],
    'Y': [84, 94, 89, 83, 86],
    'Z': [86, 97, 96, 72, 83],
})

print(original_df.add_prefix('A_'))
print(original_df.add_suffix('_1'))

   A_W  A_X  A_Y  A_Z
0   68   78   84   86
1   75   85   94   97
2   86   96   89   96
3   80   80   83   72
4   66   86   86   83
   W_1  X_1  Y_1  Z_1
0   68   78   84   86
1   75   85   94   97
2   86   96   89   96
3   80   80   83   72
4   66   86   86   83

In [39]:
# 65. Write a Pandas program to reverse order (rows, columns) of a given DataFrame.

original_df = pd.DataFrame({
    'W': [68, 75, 86, 80, 66],
    'X': [78, 85, 96, 80, 86],
    'Y': [84, 94, 89, 83, 86],
    'Z': [86, 97, 96, 72, 83],
})

print(original_df.iloc[::-1].reset_index(drop=True))

    W   X   Y   Z
0  66  86  86  83
1  80  80  83  72
2  86  96  89  96
3  75  85  94  97
4  68  78  84  86

In [45]:
# 66. Write a Pandas program to select columns by data type of a given DataFrame.

original_df = pd.DataFrame({
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Syed Wharton'],
    'date_of_birth': ['2002/05/17', '1999/02/16', '1998/09/25', '2002/05/11', '1997/09/15'],
    'age': [18.5, 21.2, 22.5, 22.0, 23.0]
})

print(original_df.select_dtypes(include='number'))
print(original_df.select_dtypes(include='object'))

    age
0  18.5
1  21.2
2  22.5
3  22.0
4  23.0
             name date_of_birth
0  Alberto Franco    2002/05/17
1    Gino Mcneill    1999/02/16
2     Ryan Parkes    1998/09/25
3    Eesha Hinton    2002/05/11
4    Syed Wharton    1997/09/15

## Pandas indexing - Ex 6 to 11 (Unfinished)

In [49]:
# Sample dataframe
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    't_id':['t1', 't2', 't3', 't4', 't5', 't6']})

In [55]:
# 6. Write a Pandas program to create a dataframe indexing by date and time.

print(df.set_index('date_Of_Birth'))

              school_code class            name  weight  address t_id
date_Of_Birth
15/05/2002           s001     V  Alberto Franco      35  street1   t1
17/05/2002           s002     V    Gino Mcneill      32  street2   t2
16/02/1999           s003    VI     Ryan Parkes      33  street3   t3
25/09/1998           s001    VI    Eesha Hinton      30  street1   t4
11/05/2002           s002     V    Gino Mcneill      31  street2   t5
15/09/1997           s004    VI    David Parkes      32  street4   t6

In [60]:
# 7. Write a Pandas program to create a dataframe and set a title or name of the index column.
df.index.name = 'index'
print(df)

      school_code class            name date_Of_Birth  weight  address t_id
index
0            s001     V  Alberto Franco    15/05/2002      35  street1   t1
1            s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2            s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
3            s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4            s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5            s004    VI    David Parkes    15/09/1997      32  street4   t6

In [61]:
# 8. Write a Pandas program to set value in a specific cell in a given dataframe using index.

index = 2
column = 'name'
newValue = 'John Doe'

df.at[index, column] = newValue

print(df)

      school_code class            name date_Of_Birth  weight  address t_id
index
0            s001     V  Alberto Franco    15/05/2002      35  street1   t1
1            s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2            s003    VI            John    16/02/1999      33  street3   t3
3            s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4            s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5            s004    VI    David Parkes    15/09/1997      32  street4   t6

In [63]:
# 9. Write a Pandas program to convert index of a given dataframe into a column.
df.reset_index(level=0, inplace=True)

print(df)

   index school_code class            name date_Of_Birth  weight  address t_id
0      0        s001     V  Alberto Franco    15/05/2002      35  street1   t1
1      1        s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2      2        s003    VI            John    16/02/1999      33  street3   t3
3      3        s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4      4        s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5      5        s004    VI    David Parkes    15/09/1997      32  street4   t6

In [ ]:
# 10. Write a Pandas program to convert 1st and 3rd levels in the index
# into columns from a multiple level of index frame of a given dataframe.

In [ ]:
# 11. Write a Pandas program to check if a specified value
# exists in single and multiple column index dataframe.

## Pandas Joining and merging DataFrame - Ex 1 to 6 (Unfinished)

In [66]:
# Import dataframes
student_data1 = pd.DataFrame({
    'student_id': ['S1','S2','S3','S4','S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
})

student_data2 = pd.DataFrame({
    'student_id': ['S4','S5','S6','S7','S8'],
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
    'marks': [201, 200, 198, 219, 201]
})

In [ ]:
# 1. Write a Pandas program to join the two given dataframes along rows and assign all data.